{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="container">
    <div class="jumbotron jumbotron-fluid">

        </br>
        <h2>Optimierung der Vertriebssteuerung </h2>
        <h4>Das Problem</h4>
        In dieser Demo wird die Vertriebssteuerung und Produktionsplanung eines Automobilherstellers für das Jahr 2021 optimiert.
        Das Ziel ist es, den Gewinn des Unternehmens in diesem Bereich zu maximieren.
        </br>
        </br>
        <h5>Genauere Problembeschreibung</h5>
        Es gibt P Produkte, S Werke und C Nachfrageländer .
        Jedes Werk ist für die Produktion einzelner Fahrzeuge verantwortlich. An einem Werk können nicht alle,
        sondern immer nur bestimmte Fahrzeuge produziert werden. Jedes Werk besitzt eine individuelle maximale
        Produktionskapazität. Für jedes Produkt ist ein spezifischer Ergebnisbeitrag bekannt, welcher sich für die
        einzelnen Zielmärkte (Customers) unterscheiden kann. Dieser Ergebnisbeitrag beinhaltet jegliche Kosten bezüglich
        Transport, Herstellung und Produktion. Darüber hinaus gibt es jedoch Kosten, welche nicht in den Ergebnisbeitrag
        mit einfließen. Diese Kosten beschreiben die Strafzahlungen, welche sich durch die WLTP-Messwerte der Fahrzeuge
        ergeben. Für jedes Produkt sind daher die WLTP-Messwerte sowie das Gewicht angegeben. Die Zielmärkte besitzen
        für jedes Produkt Nachfragewerte, welche sich je Produkt und je Zielmarkt unterscheiden können. Für jeden dieser
        Zielmärkte muss die Nachfrage durch die Produktion gedeckt werden. Des weiteren kann der mögliche Absatz der einzelnen
        Bereiche aber durch einen Faktor angehoben werden, sodass mehr Produkte verkauft werden können. Dieser Faktor soll
        Werbemöglichkeiten darstellen. Jedes Werk ist für die Produktion einzelner Fahrzeuge verantwortlich. An einem Werk
        können nicht alle, sondern immer nur bestimmte
        Fahrzeuge produziert werden. Jedes Werk besitzt eine individuelle maximale Produktionskapazität. Für jedes Produkt
        ist ein spezifischer Ergebnisbeitrag bekannt, welcher sich für die einzelnen Zielmärkte (Customers) unterscheiden kann.
        Dieser Ergebnisbeitrag beinhaltet jegliche Kosten bezüglich Transport, Herstellung und Produktion. Darüber hinaus gibt
        es jedoch Kosten, welche nicht in den Ergebnisbeitrag mit einfließen. Diese Kosten beschreiben die Strafzahlungen,
        welche sich durch die WLTP-Messwerte der Fahrzeuge ergeben. Für jedes Produkt sind daher die WLTP-Messwerte sowie
        das Gewicht angegeben. Die Zielmärkte besitzen für jedes Produkt Nachfragewerte, welche sich je Produkt und je
        Zielmarkt unterscheiden können. Für jeden dieser Zielmärkte muss die Nachfrage durch die Produktion gedeckt werden.
        Des weiteren kann der mögliche Absatz der einzelnen Bereiche aber durch einen Faktor angehoben werden, sodass mehr
        Produkte verkauft werden können. Dieser Faktor soll die Elastizität der Nachfrage abbilden.
        </br>
        </br>

        <h5>Das Problem besteht aus folgenden Faktoren:</h5>
            <li>Unterschiedliche Produkte</li>
            <li>Unterschiedliche Standorte</li>
            <li>Unterschiedliche Bedarfsbereiche </li>
        </br>
        <h4>Das Ergebnis der Optimierung</h4>
        <h5>Zum einen werden folgende Ergebnisse berechnet: </h5>
        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
            <tbody>
                <tr>
                    <th scope="row">Total Profits</th>
                    <td>Höhe der Profite des Automobilherstellers</td>
                </tr>
                <tr>
                    <th scope="row">Total Emission Fine</th>
                    <td>Höhe der Strafzahlungen durch WLTP</td>
                </tr>
                <tr>
                    <th scope="row">Result</th>
                    <td>Umsatz des Automobilhersteller - Strafzahlungen</td>
                </tr>
                <tr>
                    <th scope="row">Sold Cars</th>
                    <td>Verkaufte PKWs</td>
                </tr><tr>
                    <th scope="row">WLTP AVG</th>
                    <td>WLTP Wert der Fahrzeugflotte</td>
                </tr>
                <tr>
                    <th scope="row">Emission Target</th>
                    <td>WLTP Wert, welcher durch das Unternehmen nicht überschritten werden darf</td>
                </tr>
                <tr>
                    <th scope="row">Emission Fine Savings with Supercredits</th>
                    <td>Anteil der Strafzahlungen, welcher durch die Supercredits eingespaart werden konnte</td>
                </tr>
                <tr>
                    <th scope="row">Emission Fine without Supercredits</th>
                    <td>Strafzahlungen, welche ohne die Supercredits anfallen würden</td>
                </tr>
            </tbody>
        </table>
        </br>
        <h5>Der Automobilhersteller möchte für folgende Fragestellungen die optimale Lösung herausfinden:</h5>
        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
            <tbody>
            <tr>
                <th scope="row">Produced Cars</th>
                    <td>Wie viele Fahrzeuge sollen an den jeweiligen Standorten produziert werden</td>
                </tr>
                <tr>
                    <th scope="row">Delivered Cars</th>
                    <td>Welcher Standort beliefert welchen Bedarfsbereich mit wie vielen Fahrzeugen eines jeweiligen Typs</td>
                </tr>
            </tbody>
        </table>
        </br>
        <h4>Input Daten und die dazugehörigen Restriktionen</h4>
        <h5>Folgende Paramteter beeinflussen die optimale Lösung des Problems:</h5>
        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
            <tbody>
            <tr>
                <th scope="row">EB</th>
                <td>Ergebnisbeitrag je Produkt und je Nachfragebereich</td>
            </tr>
            <tr>
                <th scope="row">Demand</th>
                <td>Nachfrage nach einem jeweiligen Produkt eines Nachfragebereiches</td>
            </tr>
            <tr>
                <th scope="row">Maximale Produktionkapazität je Standort</th>
                <td>Wie viele Produkte können maximal an einem Standort produziert werden.</td>
            </tr>
            <tr>
                <th scope="row">WLTP Messwerte</th>
                <td>Wie viel Gramm Co2 stößt ein Fahrzeug aus. Gemessen nach der neuen Testprozedur: WLTP</td>
            </tr>
            <tr>
                <th scope="row">Payperfine</th>
                <td>Strafzahlungswert für jedes Gramm zu viel ausgestoßenes Gramm Co2 pro Fahrzeug</td>
            </tr>
            <tr>
                <th scope="row">Excess Demand</th>
                <td>Um wie viel Prozent kann die prognostizierte Nachfrage eines Produktes durch Werbung oder ähnliche Faktoren angehoben werden. (Darf nicht 1.0 sein)</td>
            </tr>
            <tr>
                <th scope="row">Weight</th>
                <td>Gewicht eines Fahrzeuges</td>
            </tr>
            <tr>
                <th scope="row">Supercredit</th>
                <td>Faktor für ein sogenannten Supercredit (Fahrzeuge mit einem WLTP Co2 Wert von unter 50gCo2/km.</td>
            </tr>
            <tr>
                <th scope="row">Production Plan</th>
                <td>Welche Fahrzeuge können an einem Standort produziert werden. (1, wenn Produktion möglich, 0 wenn nicht). Ein Fahrzeug kann nur an einem Standort produziert werden.</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}