{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<form action="" method="POST" novalidate xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="o_create1" style="padding-left: 20px;">
                <div class="jumbotron" style="margin-left:-100px;">
                    <div class="row">
                        <h4>Parameter des neuen Modells</h4>
                        <div class="col-md-6">
                            <table class="table" width="500px">
                                <thead>
                                <tr>
                                    <th style="text-align: left;" scope="col" width="300px">Parameter</th>
                                    <th style="text-align: left;" scope="col"># Number</th>
                                    <td style="text-align: left;" ></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th style="text-align: left;" scope="row" >Products</th>
                                    <td style="text-align: left;" >{{ nproducts }}</td>
                                    <td style="text-align: left;" ></td>
                                </tr>
                                <tr>
                                    <th style="text-align: left;" scope="row">Sites</th>
                                    <td style="text-align: left;" > {{ nsites }}</td>
                                    <td style="text-align: left;" ></td>
                                </tr>
                                <tr>
                                    <th style="text-align: left;"  scope="row">Demand Countries</th>
                                    <td style="text-align: left;" >{{ ncustomers }}</td>
                                    <td style="text-align: left;" ></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Namen der Produkte neuen Modells</h4>
                        <div class="col-md-8">
                            <table class="table">
                                {% for i in range(0, nproducts) %}
                                <tr>
                                    <td>
                                        <div class="input-group">
                                              <span class="input-group-addon" style="width: 200px;" id="basic-addon_pname{{i}}">Product Name {{i + 1}}</span>
                                              <input type="text" id="pname_{{i}}" style="width: 500px;" name="pname_{{i}}"value="" class="form-control" placeholder="" aria-describedby="basic-addon_pname{{i}}">
                                        </div>
                                    </td>
                                    </br>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Namen der Sites des neuen Modells</h4>
                        <div class="col-md-8">
                            <table class="table">
                                {% for i in range(0, nsites) %}
                                <tr>
                                    <td>
                                        <div class="input-group">
                                              <span class="input-group-addon" style="width: 200px;" id="basic-addon_sname{{i}}">Site Name {{i + 1}}</span>
                                              <input type="text" id="sname_{{i}}" style="width: 500px;" name="sname_{{i}}"value="" class="form-control" placeholder="" aria-describedby="basic-addon_sname{{i}}">
                                        </div>
                                    </td>
                                    </br>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Namen der Kundenbereiche des neuen Modells</h4>
                        <div class="col-md-8">
                            <table class="table">
                                {% for i in range(0, ncustomers) %}
                                <tr>
                                    <td>
                                        <div class="input-group">
                                              <span class="input-group-addon" style="width: 200px;" id="basic-addon_cname{{i}}">Nachfrageland  {{i + 1}}</span>
                                              <input type="text" id="cname_{{i}}" style="width: 500px;" name="cname_{{i}}"value="" class="form-control" placeholder="" aria-describedby="basic-addon_cname{{i}}">
                                        </div>
                                    </td>
                                    </br>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <td><input class="btn btn-default" id="createNew2" name="createNew2" type="submit" value="Create New with these names"></td>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}