{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<form action="" method="POST" novalidate xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <h4>Please select the base data for the new scenario you want to create</h4>
            </div>
            <div class="row">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>
</form>
{% endblock %}