{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<form name="formNew" action="" method="POST" onsubmit="return validateForm()" novalidate xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="o_create1" style="padding-left: 20px;">
                <div class="jumbotron" style="margin-left:-100px;">
                    <div class="row">
                        <h4>Parameter des neuen Modells</h4>
                         </br>
                        <div class="col">
                               <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon1" style="width: 200px;">Products</span>
                                  <input type="text" id="nproducts" name="nproducts" value="" class="form-control" placeholder="" aria-describedby="basic-addon1">
                                </div>
                                </br>
                                <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon2" style="width: 200px;">Sites</span>
                                  <input type="text" id="nsites" name="nsites" value="" class="form-control" placeholder="" aria-describedby="basic-addon2">
                                </div>
                                </br>
                                <div class="input-group">
                                  <span class="input-group-addon" id="basic-addon3" style="width: 200px;">Demand Countries</span>
                                  <input type="text" id="ncustomers" name="ncustomers" value="" class="form-control" placeholder="" aria-describedby="basic-addon3">
                                </div>
                                </br>
                            <input class="btn btn-default" id="createNew1" name="createNew1" type="submit" value="Create New with these parameters">
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
        function validateForm() {
          var products = document.forms["formNew"]["nproducts"].value;
          var sites = document.forms["formNew"]["nsites"].value;
          var customers = document.forms["formNew"]["ncustomers"].value;
          if (products == "" || sites == "" || customers == "" ) {
              alert("Parameters must be filled out");
              return false;
          }
          if (parseInt(products) <= 0 || parseInt(sites) <= 0 || parseInt(customers) <= 0 ) {
              alert("Parameters must be bigger than 0");
              return false;
          }
          if (parseInt(products) > 12 ) {
              alert("Not more than 12 Products");
              return false;
          }
          if (parseInt(sites) > 8 ) {
              alert("Not more than 8 Sites");
              return false;
          }
          if (parseInt(customers) > 8 ) {
              alert("Not more than 8 Customers");
              return false;
          }
         if (!isNaN(products) && products.toString().indexOf('.') != -1) {
              alert("Products must be an Integer");
              return false;
         }
         if (!isNaN(sites) && sites.toString().indexOf('.') != -1) {
              alert("Sites must be an Integer");
              return false;
         }
         if (!isNaN(customers) && customers.toString().indexOf('.') != -1) {
              alert("Customers must be an Integer");
              return false;
         }
       }
    </script>
</form>
{% endblock %}