{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<form name="formNew" action="" method="POST" onsubmit="return validateForm()" novalidate xmlns="http://www.w3.org/1999/html">
   <div class="container">
      <div class="row">
          {% with messages = get_flashed_messages() %}
             {% if messages %}
               <ul class=flashes>
               {% for message in messages %}
                 <li>{{ message }}</li>
               {% endfor %}
               </ul>
             {% endif %}
           {% endwith %}
         {% for o in options %}
         {% set t = loop.index%}
         {% set k = loop.index - 1 %}
         {% if o == editoption %}
         <div class="col-md-6" id="o_edit{{t}}" style="padding-left: 20px;">
            <div class="jumbotron" style="margin-left:-100px;">
               <div class="row">
                  <h2>Input Data Scenario {{option_array[k]}}</h2>
                  <h5>Name: {{data_name[k]}}</h5>
                  <h4>Parameter des Models</h4>
                  <div class="col">
                     <table class="table table-striped table-sm table-nowrap table-centered mb-0" >
                        <thead>
                           <tr>
                              <th scope="col">Parameter</th>
                              <th scope="col"># Number</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th scope="row">Products</th>
                              <td>{{ input[o]['nproducts']}}</td>
                           </tr>
                           <tr>
                              <th scope="row">Sites</th>
                              <td>{{ input[o]['nsites'] }}</td>
                           </tr>
                           <tr>
                              <th scope="row">Demand Countries</th>
                              <td>{{ input[o]['ncustomers'] }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Profit Contribution</h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 <th scope="col"></th>
                                 {% for c in input[o]['cname'] %}
                                 <th scope="col">{{ c }}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              {% for p in input[o]['pname'] %} {% set i = loop.index - 1%}
                              <tr>
                                 <th scope="row">{{ p }}</th>
                                 {% for j in range(0,input[o]['ncustomers']) %}
                                 <td><input type="text" size='10px' id="eb_{{ j }}_{{i}}" name="eb_{{ j }}_{{i}}" value="{{input[o]['eb'][j][i]}}"></td>
                                 {% endfor %}
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Demand</h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 <th scope="col"></th>
                                 {% for c in input[o]['cname'] %}
                                 <th scope="col">{{ c }}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              {% for p in input[o]['pname'] %} {% set i = loop.index - 1%}
                              <tr>
                                 <th scope="row">{{ p }}</th>
                                 {% for j in range(0,input[o]['ncustomers']) %}
                                 <td><input type="text" size='10px' id="demand_{{ j }}_{{i}}" name="demand_{{ j }}_{{i}}" value="{{input[o]['demand'][j][i]}}"></td>
                                 {% endfor %}
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Excess Demand per Product </h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 <th scope="col">{{p}}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 {% for p in input[o]['pname'] %} {% set i = loop.index - 1%}
                                 {% set i = loop.index - 1%}
                                 <td><input type="text" size='3px' id="excessdemand_{{i}}" name="excessdemand_{{i}}" value="{{ input[o]['excessdemand'][i] }}"></td>
                                 {% endfor %}
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Max Production Hours per Site </h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 <th scope="col">Site</th>
                                 <th scope="col">Number</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for s in input[o]['sname'] %}
                              {% set i = loop.index - 1%}
                              <tr>
                                 <th scope="row">{{s}}</th>
                                 <td><input type="text" size='10px' id="maxProduction_{{i}}" name="maxProduction_{{i}}" value="{{ input[o]['maxProduction'][i] }}"></td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>WLTP Value per Car </h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 <th scope="col">{{ p }}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 {% for j in range(0,input[o]['nproducts']) %}
                                 <td><input type="text" size='3px' id="emissionWLTP_{{j}}" name="emissionWLTP_{{j}}" value="{{ input[o]['emissionWLTP'][j] }}"></td>
                                 {% endfor %}
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Weight per Car </h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 <th scope="col">{{p}}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 {% set i = loop.index - 1%}
                                 <td><input type="text" size='3px' id="weight_{{i}}" name="weight_{{i}}" value="{{ input[o]['weight'][i] }}"></td>
                                 {% endfor %}
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Supercredit per Car </h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 <th scope="col">{{p}}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 {% set i = loop.index - 1%}
                                 <td><input type="text" size='3px' id="supercredit_{{i}}" name="supercredit_{{i}}" value="{{ '%0.2f'| format(input[o]['supercredit'][i]/100 | float) }}"></td>
                                 {% endfor %}
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <input class="btn btn-primary" id="calculate" name="calculate" type="submit" value="Calculate Data for new Scenarios">
               </div>
            </div>
         </div>
         {% endif %}
         {% if o != editoption %}
         <div class="col-md-6" id="o_noedit{{t}}" style="padding-left: 20px;">
            <div class="jumbotron" style="margin-left:-100px;">
               <div class="row">
                  <div class="col-md-8" style="margin-left: -20px;">
                     <h2>Input Data Scenario {{option_array[k]}}</h2>
                     <h5>Name: {{data_name[k]}}</h5>
                  </div>
               </div>
               <div class="row">
                  <h4>Parameter des Models</h4>
                  <div class="col">
                     <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                        <thead>
                           <tr>
                              <th scope="col">Parameter</th>
                              <th scope="col"># Number</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <th scope="row">Products</th>
                              <td>{{ input[o]['nproducts']}}</td>
                           </tr>
                           <tr>
                              <th scope="row">Sites</th>
                              <td>{{ input[o]['nsites'] }}</td>
                           </tr>
                           <tr>
                              <th scope="row">Demand Countries</th>
                              <td>{{ input[o]['ncustomers'] }}</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Profit Contribution</h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 <th scope="col"></th>
                                 {% for c in input[o]['cname'] %}
                                 <th scope="col">{{ c }}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              {% for p in input[o]['pname'] %} {% set i = loop.index - 1%}
                              <tr>
                                 <th scope="row">{{ p }}</th>
                                 {% for j in range(0,input[o]['ncustomers']) %}
                                 {% if input['option1']['nproducts'] == input['option2']['nproducts'] and input['option1']['ncustomers'] == input['option2']['ncustomers'] %}
                                 {% if input['option1']['eb'][j][i] != input['option2']['eb'][j][i]%}
                                 <td bgcolor="#eab0a9">{{ input[o]['eb'][j][i] }}</td>
                                 {% else %}
                                 <td>{{ input[o]['eb'][j][i] }}</td>
                                 {% endif %}
                                 {% else %}
                                 <td>{{ input[o]['eb'][j][i] }}</td>
                                 {% endif %}
                                 {% endfor %}
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Demand</h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 <th scope="col"></th>
                                 {% for c in input[o]['cname'] %}
                                 <th scope="col">{{ c }}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              {% for p in input[o]['pname'] %} {% set i = loop.index - 1%}
                              <tr>
                                 <th scope="row">{{ p }}</th>
                                 {% for j in range(0,input[o]['ncustomers']) %}
                                 {% if input['option1']['nproducts'] == input['option2']['nproducts'] and input['option1']['ncustomers'] == input['option2']['ncustomers'] %}
                                 {% if input['option1']['demand'][j][i] != input['option2']['demand'][j][i]%}
                                 <td bgcolor="#eab0a9">{{ input[o]['demand'][j][i] }}</td>
                                 {% else %}
                                 <td>{{ input[o]['demand'][j][i] }}</td>
                                 {% endif %}
                                 {% else %}
                                 <td>{{ input[o]['demand'][j][i] }}</td>
                                 {% endif %}
                                 {% endfor %}
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Excess Demand per Product </h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 <th scope="col">{{p}}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 {% for p in input[o]['pname'] %} {% set i = loop.index - 1%}
                                 {% set i = loop.index - 1%}
                                 {% if input['option1']['excessdemand'][i] != input['option2']['excessdemand'][i]%}
                                 <td bgcolor="#eab0a9">{{ input[o]['excessdemand'][i] }}</td>
                                 {% else %}
                                 <td>{{ input[o]['excessdemand'][i] }}</td>
                                 {% endif %}
                                 {% endfor %}
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Max Production Hours per Site </h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 <th scope="col">Site</th>
                                 <th scope="col">Number</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for s in input[o]['sname'] %}
                              {% set i = loop.index - 1%}
                              <tr>
                                 <th scope="row">{{s}}</th>
                                 {% if input['option1']['maxProduction'][i] != input['option2']['maxProduction'][i]%}
                                 <td bgcolor="#eab0a9">{{ input[o]['maxProduction'][i] }}</td>
                                 {% else %}
                                 <td>{{ input[o]['maxProduction'][i] }}</td>
                                 {% endif %}
                                 {% endfor %}
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <h4>WLTP value per Car</h4>
                     <div class="chart-container">
                        <div class="col-md-12" style="padding-left:-200px; margin-left:-20px;">
                           <canvas id="wltp{{o}}" width="40px" height="30px"></canvas>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Weight per Car </h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 <th scope="col">{{p}}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 {% set i = loop.index - 1%}
                                 {% if input['option1']['weight'][i] != input['option2']['weight'][i]%}
                                 <td bgcolor="#eab0a9">{{ input[o]['weight'][i] }} kg</td>
                                 {% else %}
                                 <td>{{ input[o]['weight'][i] }} kg</td>
                                 {% endif %}
                                 {% endfor %}
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div style="overflow-x:auto;">
                        <h4>Supercredit per Car </h4>
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                           <thead>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 <th scope="col">{{p}}</th>
                                 {% endfor %}
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 {% for p in input[o]['pname'] %}
                                 {% set i = loop.index - 1%}
                                 {% if input['option1']['supercredit'][i] != input['option2']['supercredit'][i]%}
                                 <td bgcolor="#eab0a9">{{ '%0.2f'| format(input[o]['supercredit'][i] / 100| float) }}</td>
                                 {% else %}
                                 <td>{{ '%0.2f'| format(input[o]['supercredit'][i] / 100| float) }} </td>
                                 {% endif %}
                                 {% endfor %}
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
            {% endif %}
            {% endfor %}
      </div>
   </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script>
                     function validateForm() {
                         for ( let i=0; i< {{input[editoption]['nproducts']}}; i++ ) {
                              a = i.toString();
                              var excessdemand = document.forms["formNew"]["excessdemand_" + a].value;
                              var supercredit = document.forms["formNew"]["supercredit_" + a].value;
                              var emissionWLTP = document.forms["formNew"]["emissionWLTP_" + a].value;
                              var weight = document.forms["formNew"]["weight_" + a].value;

                                  if (parseInt(weight) <= 0) {
                                    alert("Weight must be bigger than 0");
                                    return false;
                                  }
                                  if (weight == "") {
                                    alert("Weight must be filled");
                                    return false;
                                  }
                                  if ((!isNaN(weight) && weight.toString().indexOf('.') != -1)) {
                                    alert("Weight must be an integer");
                                    return false;
                                  }


                                  if (parseInt(emissionWLTP) < 0) {
                                    alert("Emission WLTP must be bigger than 0");
                                    return false;
                                  }
                                  if (emissionWLTP == "") {
                                    alert("Emission WLTP  must be filled");
                                    return false;
                                  }
                                  if ((!isNaN(emissionWLTP) && emissionWLTP.toString().indexOf('.') != -1)) {
                                    alert("Emission WLTP must be an integer");
                                    return false;
                                  }


                                  if (parseFloat(supercredit) < 1.0) {
                                    alert("Supercredit must be between 1.0 and 2.0");
                                    return false;
                                  }
                                  if (parseFloat(supercredit) > 2.0) {
                                    alert("Supercredit must be smaller than 2.0");
                                    return false;
                                  }
                                  if (supercredit == "") {
                                    alert("Supercredit must be filled");
                                    return false;
                                  }
                                  if (!(!isNaN(supercredit) && supercredit.toString().indexOf('.') != -1)) {
                                    alert("Supercredit must be a float");
                                    return false;
                                  }
                                  if (excessdemand == "") {
                                    alert("Excessdemand must be filled");
                                    return false;
                                  }
                                  if (parseFloat(excessdemand) <= 1.0) {
                                    alert("Excessdemand must be higher than 1.0");
                                    return false;
                                  }
                                  if (!(!isNaN(excessdemand) && excessdemand.toString().indexOf('.') != -1)) {
                                    alert("excessdemand must be a float");
                                    return false;
                                  }

                                 for ( let j=0; j< {{input[editoption]['ncustomers']}}; j++ ) {
                                     b = j.toString();
                                     var eb = document.forms["formNew"]["eb_"+ b + "_" + a].value;
                                     var demand = document.forms["formNew"]["demand_"+ b + "_" + a].value;
                                     if (parseInt(eb) < -1000) {
                                       alert("Profit must be between -1000 and + 100000");
                                       return false;
                                     }
                                     if (eb == "") {
                                       alert("Profit must be filled");
                                       return false;
                                     }
                                     if (!isNaN(eb) && eb.toString().indexOf('.') != -1) {
                                       alert("Profit must be an integer");
                                       return false;
                                     }
                                     if (parseInt(demand) <= 0) {
                                       alert("Demand must be > 0");
                                       return false;
                                     }
                                     if (demand == "") {
                                       alert("Demand must be filled");
                                       return false;
                                     }
                                     if (!isNaN(demand) && eb.toString().indexOf('.') != -1) {
                                       alert("Demand must be an integer");
                                       return false;
                                     }
                                 }
                          }
                          for (let k=0; k< {{input[editoption]['nsites']}}; k++ ) {
                              c = k.toString();
                              var maxProduction = document.forms["formNew"]["maxProduction_" + c].value;
                              if (parseInt(maxProduction) <= 0) {
                                    alert("Max Production must be bigger than 0");
                                    return false;
                              }
                              if (maxProduction == "") {
                                 alert("Max Production must be filled");
                                 return false;
                              }
                              if (!isNaN(maxProduction) && maxProduction.toString().indexOf('.') != -1) {
                                 alert("Max Production must be an Integer");
                                 return false;
                              }
                          }
                     }

                    {% for o in options %}
                    {% if o != editoption %}
                                var ctx = document.getElementById('wltp{{o}}');
                                var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: [
                                          {% for p in input[o]['pname'] %}
                                           "{{ p }}",
                                          {% endfor %}
                                    ],
                                    datasets: [{
                                        label: 'WLTP of Cars',
                                        data: [
                                            {% for w in input[o]['emissionWLTP'] %}
                                                "{{ w }}",
                                             {% endfor %}],
                                        backgroundColor: [
                                            {% for c in colors %}
                                                '{{ c }}',
                                            {% endfor %}
                                            ],
                                            borderColor: [
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        legend: {
                                            display: false,
                                            position: 'bottom',
                                            labels: {
                                                fontColor: 'rgb(071, 071, 071)'
                                            }
                                        },
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true,
                                                    max: Math.max.apply(this, {{input[o]['emissionWLTP']}}) + 100
                                                }
                                            }]
                                        },
                                        layout: {
                                            padding: {
                                                left: 0,
                                                right: 0,
                                                top: 15,
                                                bottom: 0
                                            }
                                        },
                                        "hover": {
                                            "animationDuration": 0
                                        },
                                         animation: {
                                            "duration": 1,
                                          "onComplete": function() {
                                            var chartInstance = this.chart,
                                              ctx = chartInstance.ctx;

                                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                            ctx.textAlign = 'center';
                                            ctx.textBaseline = 'bottom';

                                            this.data.datasets.forEach(function(dataset, i) {
                                              var meta = chartInstance.controller.getDatasetMeta(i);
                                              meta.data.forEach(function(bar, index) {
                                                var data = dataset.data[index];
                                                ctx.fillText(data, bar._model.x, bar._model.y - 5);
                                              });
                                            });
                                          }
                                        },
                                    }
                                });

                    {% endif  %}
                    {% endfor %}

    </script>
</form>
{% endblock %}